.document-card {
  padding-left: 9px;
  padding-right: 9px;
  width: 25%;
  padding-bottom: 34px;

  &__inner {
    background: $color-white;
    border-radius: 10px;
    padding: 9px;
  }

  &__img {
    height: 250px;
    display: block;
    width: 100%;
    object-fit: contain;
  }

  &__body {
    min-height: 155px;
    padding: 7px 9px 15px;
  }

  &__title {
    font: 400 18px / 120% $font-family-stark;
    margin-bottom: 6px;
  }

  &__desc {
    font-weight: 300;
    font-size: 15px;
  }

  &__btn {
    display: block;
    padding: 18px 28px;
    width: 62%;
  }

  &__price {
    width: 44%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    margin-right: -30px;
    background: #283773;
    font-weight: 500;
    border-radius: 8px;
    font-size: 16px;
    color: #FFFFFF;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
