.language {
  display: flex;
  align-items: center;
  margin-left: 24px;
  cursor: pointer;
  transition: width .2s ease-in-out;
  position: relative;
  z-index: 1;
  width: 130px;
  align-self: stretch;

  &.is-open {

    .language__item {
      background: $color-white;
    }

    .language__item:not(.language__item--active) {
      display: block;
      animation: animLang .3s ease;
    }

    svg {
      transform: rotate(90deg);
    }
  }

  &__item {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    padding-bottom: 7px;
    transition: .3s;
    display: none;

    &:hover {
      color: $color-primary;
    }

    &:first-child {
      padding-top: 13px;
      border-top-left-radius: 9px;
      border-top-right-radius: 9px;
    }

    &:last-child {
      padding-bottom: 13px;
      border-bottom-left-radius: 9px;
      border-bottom-right-radius: 9px;
    }

    &.language__item--active {
      display: block;
      opacity: 1;
      transform: translateY(0);
    }

    &-curr {
      display: inline-block;
    }
  }

  svg {
    width: 6px;
    height: 11px;
    transition: transform .2s ease-in-out;
  }

  &__box {
    width: 130px;
    min-height: 80px;
    transition: .2s ease-in;
    position: absolute;
    top: 0;
    left: 0;
  }
}


@keyframes animLang {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
