.language {
  display: flex;
  align-items: center;
  margin-left: 60px;
  cursor: pointer;
  transition: width .2s ease-in-out;
  position: relative;

  &.is-open {

    .language__box {
      visibility: visible;
      transform: translateY(0) scale(1);
      opacity: 1;
    }

    svg {
      transform: rotate(90deg);
    }
  }

  &__item {
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
    margin-right: 11px;

    &.language__item--active {
      display: inline-block;
    }
  }

  svg {
    width: 6px;
    height: 11px;
    display: block;
    transition: transform .2s ease-in-out;
  }

  &__box {
    visibility: hidden;
    padding: 10px;
    background: $color-white;
    border-radius: 11px;
    display: flex;
    min-height: 80px;
    transform: translateY(30px) scale(0.8);
    opacity: 0;
    transition: .2s ease-in;
    position: absolute;
    top: 35px;
    left: 0;
  }
}
