<section class="advantages">
  <div class="container advantages__inner">
    <div class="advantage-item">
      <img class="advantage-item__icon" src="img/contract.png" alt="">
      <div class="advantage-item__title">Большой выбор образцов</div>
    </div>
    <div class="advantage-item">
      <img class="advantage-item__icon" src="img/award.png" alt="">
      <div class="advantage-item__title">Лучшее соотношение цена - качество</div>
    </div>
    <div class="advantage-item">
      <img class="advantage-item__icon" src="img/handshake.png" alt="">
      <div class="advantage-item__title">Гарантия достоверной услуги</div>
    </div>
    <div class="advantage-item">
      <img class="advantage-item__icon" src="img/shipping.png" alt="">
      <div class="advantage-item__title">Доставка в любую точку мира</div>
    </div>
  </div>
</section>
