<section class="hero">
  <div class="container">
    <div class="hero__inner">
      <span class="hero__bg-text" aria-hidden="true">Качество</span>
      <div class="hero__left">
        <h1 class="hero__title">Сделаем любые документы</h1>
        <div class="hero__subtitle">
          Сделаем любой документ на заказ с гарантией качества
          <div class="text-decor hero__subtitle-decor">
            <svg>
              <use xlink:href="img/sprite.svg#text-decor"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="hero__right">
        <img class="hero__right-img" src="img/hero-right-img.png" alt="">
      </div>
    </div>
  </div>

  <div class="hero-board">
    <div class="subsections hero-board__subsections">
      <div class="subsections__item">
        <img class="subsections__item-img" src="img/subsections-item1.png" alt="">
        <div class="subsections__item-info">
          <div class="subsections__item-title">Образцы</div>
          <a class="subsections__item-link" href="">Смотреть</a>
        </div>
      </div>
      <div class="subsections__item">
        <img class="subsections__item-img" src="img/subsections-item2.png" alt="">
        <div class="subsections__item-info">
          <div class="subsections__item-title">Гарантии</div>
          <a class="subsections__item-link" href="">Смотреть</a>
        </div>
      </div>
      <div class="subsections__item">
        <img class="subsections__item-img" src="img/subsections-item3.png" alt="">
        <div class="subsections__item-info">
          <div class="subsections__item-title">Отзывы</div>
          <a class="subsections__item-link" href="">Смотреть</a>
        </div>
      </div>
    </div>
    <div class="socials hero-board__socials">
      <a class="socials__link socials__link--bordered socials__link--bordered-inst" href="">
        <svg>
        <use xlink:href="img/sprite.svg#instagram"></use>
        </svg>
      </a>
      <a class="socials__link socials__link--bordered socials__link--bordered-telegram" href="">
        <svg>
          <use xlink:href="img/sprite.svg#telegram"></use>
        </svg>
      </a>
      <a class="socials__link socials__link--bordered socials__link--bordered-whatsapp" href="">
        <svg>
          <use xlink:href="img/sprite.svg#whatsapp"></use>
        </svg>
      </a>
    </div>
  </div>

  <img class="decor hero__decor1" src="img/decor-spots.png" alt="">

</section>
