<!-- Contact modal -->
<div class="modal modal--default" id="contact-modal" aria-hidden="true">
  <div class="modal__overlay">
    <div class="modal__container">
      <div class="modal__content">
        <div class="modal__head">
          <div class="modal__title">Контакты</div>
        </div>
        <div class="modal__body modal-contacts">
          <div class="modal-contacts__block">
            <span class="modal-contacts__label">Телефон:</span>
            <a class="modal-contacts__item modal-contacts__item--tel" href="">8 800 444-77-77</a>
          </div>
          <div class="modal-contacts__block">
            <span class="modal-contacts__label">E-mail:</span>
            <a class="modal-contacts__item" href="">Почта@gmail.com</a>
          </div>
          <div class="modal-contacts__block modal-contacts__block--contacts">
            <span class="modal-contacts__label">Социальные сети:</span>
            <div class="socials modal-contacts__socials">
              <a class="socials__link socials__link--black socials__link--hover-blue" href="">
                <svg>
                  <use xlink:href="img/sprite.svg#instagram"></use>
                </svg>
              </a>
              <a class="socials__link socials__link--black socials__link--hover-blue" href="">
                <svg>
                  <use xlink:href="img/sprite.svg#vk"></use>
                </svg>
              </a>
              <a class="socials__link socials__link--black socials__link--hover-blue" href="">
                <svg>
                  <use xlink:href="img/sprite.svg#telegram"></use>
                </svg>
              </a>
            </div>
          </div>
          <button class="btn btn-reset btn--primary modal-contacts__btn">Обратная связь</button>
        </div>
      </div>
    </div>
  </div>
</div>
