<section class="note">
  <div class="container note__inner">
    <div class="note__left">
      <img class="note__left-img" src="img/note-img.png" alt="">
    </div>
    <div class="note__right">
      <div class="note__title block-title">
        В современном обществе
        <div class="text-decor note__title-decor">
          <svg>
            <use xlink:href="img/sprite.svg#text-decor"></use>
          </svg>
        </div>
      </div>
      <div class="note__subtitle">
        Существуют различные мнения относительно законности и моральности такой услуги, как изготовление дипломов,
        подтверждающих образование, а купить диплом с занесением в реестр является несбыточным мифом. попробуем
        прояснить ситуацию и ответить на некоторые вопросы
      </div>
    </div>
  </div>

  <div class="note-board">
    <svg>
      <use xlink:href="img/sprite.svg#logo-black"></use>
    </svg>
  </div>
  <img class="decor note__decor1" src="img/decor-spots.png" alt="">
  <img class="decor note__decor2" src="img/note-decor.png" alt="">

</section>

