<section class="reviews">
  <div class="container section__inner">
    <div class="reviews__head">
      <div class="reviews__title block-title">Отзывы</div>
      <div class="reviews__subtitle">Прочитайте отзывы о нас и нашей работе</div>
    </div>
    <div class="reviews__list items-list items-list--reviews">
      <div class="review-card">
        <div class="review-card__inner">
          <div class="review-card__head">
            <img class="review-card__img" src="img/user-review.png" alt="">
            <div class="review-card__user">
              <div class="review-card__user-name">Имя Фамилия</div>
              <div class="review-card__user-rating star-rating">
                <i class="star-rating__star"></i>
                <i class="star-rating__star"></i>
                <i class="star-rating__star"></i>
                <i class="star-rating__star"></i>
                <i class="star-rating__star"></i>
              </div>
            </div>
          </div>
          <div class="review-card__body">
            Хочу сказать большое спасибо Алексею и Артему и их команде за проделанную работу! Обратился к парням за
            помощью, надо было вырубить примерно 40 стволов деревьев на участке, договорились о встрече приехали на
            участок все подробно объяснили обговорили ориентировочную дату, но у ребят получилось раньше за что большое
            спасибо удалили деревья а так же выкорчевали пни и проконтралировали вывоз Всем
          </div>
        </div>
      </div>
      <div class="review-card">
        <div class="review-card__inner">
          <div class="review-card__head">
            <img class="review-card__img" src="img/user-review.png" alt="">
            <div class="review-card__user">
              <div class="review-card__user-name">Имя Фамилия</div>
              <div class="review-card__user-rating star-rating">
                <i class="star-rating__star"></i>
                <i class="star-rating__star"></i>
                <i class="star-rating__star"></i>
                <i class="star-rating__star"></i>
                <i class="star-rating__star"></i>
              </div>
            </div>
          </div>
          <div class="review-card__body">
            Хочу сказать большое спасибо Алексею и Артему и их команде за проделанную работу! Обратился к парням за
            помощью, надо было вырубить примерно 40 стволов деревьев на участке, договорились о встрече приехали на
            участок все подробно объяснили обговорили ориентировочную дату, но у ребят получилось раньше за что большое
            спасибо удалили деревья а так же выкорчевали пни и проконтралировали вывоз Всем
          </div>
        </div>
      </div>
      <div class="review-card">
        <div class="review-card__inner">
          <div class="review-card__head">
            <img class="review-card__img" src="img/user-review.png" alt="">
            <div class="review-card__user">
              <div class="review-card__user-name">Имя Фамилия</div>
              <div class="review-card__user-rating star-rating">
                <i class="star-rating__star"></i>
                <i class="star-rating__star"></i>
                <i class="star-rating__star"></i>
                <i class="star-rating__star"></i>
                <i class="star-rating__star"></i>
              </div>
            </div>
          </div>
          <div class="review-card__body">
            Хочу сказать большое спасибо Алексею и Артему и их команде за проделанную работу! Обратился к парням за
            помощью, надо было вырубить примерно 40 стволов деревьев на участке, договорились о встрече приехали на
            участок все подробно объяснили обговорили ориентировочную дату, но у ребят получилось раньше за что большое
            спасибо удалили деревья а так же выкорчевали пни и проконтралировали вывоз Всем
          </div>
        </div>
      </div>
    </div>

    <div class="slider__inner">
      <div class="slider__item">
        <div class="review-card review-card__slider">
          <div class="review-card__inner  review-card__inner-slider">
            <div class="review-card__head">
              <img class="review-card__img" src="img/user-review.png" alt="">
              <div class="review-card__user">
                <div class="review-card__user-name">Имя Фамилия</div>
                <div class="review-card__user-rating star-rating">
                  <i class="star-rating__star"></i>
                  <i class="star-rating__star"></i>
                  <i class="star-rating__star"></i>
                  <i class="star-rating__star"></i>
                  <i class="star-rating__star"></i>
                </div>
              </div>
            </div>
            <div class="review-card__body">
              Хочу сказать большое спасибо Алексею и Артему и их команде за проделанную работу! Обратился к парням за
              помощью, надо было вырубить примерно 40 стволов деревьев на участке, договорились о встрече приехали на
              участок все подробно объяснили обговорили ориентировочную дату, но у ребят получилось раньше за что большое
              спасибо удалили деревья а так же выкорчевали пни и проконтралировали вывоз Всем
            </div>
          </div>
        </div>
      </div>

      <div class="slider__item">
        <div class="review-card review-card__slider">
          <div class="review-card__inner  review-card__inner-slider">
            <div class="review-card__head">
              <img class="review-card__img" src="img/user-review.png" alt="">
              <div class="review-card__user">
                <div class="review-card__user-name">Имя Фамилия</div>
                <div class="review-card__user-rating star-rating">
                  <i class="star-rating__star"></i>
                  <i class="star-rating__star"></i>
                  <i class="star-rating__star"></i>
                  <i class="star-rating__star"></i>
                  <i class="star-rating__star"></i>
                </div>
              </div>
            </div>
            <div class="review-card__body">
              Хочу сказать большое спасибо Алексею и Артему и их команде за проделанную работу! Обратился к парням за
              помощью, надо было вырубить примерно 40 стволов деревьев на участке, договорились о встрече приехали на
              участок все подробно объяснили обговорили ориентировочную дату, но у ребят получилось раньше за что большое
              спасибо удалили деревья а так же выкорчевали пни и проконтралировали вывоз Всем
            </div>
          </div>
        </div>
      </div>

      <div class="slider__item">
        <div class="review-card review-card__slider">
          <div class="review-card__inner  review-card__inner-slider">
            <div class="review-card__head">
              <img class="review-card__img" src="img/user-review.png" alt="">
              <div class="review-card__user">
                <div class="review-card__user-name">Имя Фамилия</div>
                <div class="review-card__user-rating star-rating">
                  <i class="star-rating__star"></i>
                  <i class="star-rating__star"></i>
                  <i class="star-rating__star"></i>
                  <i class="star-rating__star"></i>
                  <i class="star-rating__star"></i>
                </div>
              </div>
            </div>
            <div class="review-card__body">
              Хочу сказать большое спасибо Алексею и Артему и их команде за проделанную работу! Обратился к парням за
              помощью, надо было вырубить примерно 40 стволов деревьев на участке, договорились о встрече приехали на
              участок все подробно объяснили обговорили ориентировочную дату, но у ребят получилось раньше за что большое
              спасибо удалили деревья а так же выкорчевали пни и проконтралировали вывоз Всем
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="review-slider--bottom__inner">
    <div class="review-slider--bottom__text">Листайте вправо</div>
      <img src="img/swipe.png" alt="">
  </div>

  </div>

  <span class="reviews__bg-text" aria-hidden="true">Отзывы</span>
  <img class="decor reviews__decor1" src="img/reviews-decor1.png" alt="">

</section>
