<section class="samples">
  <div class="container samples__inner tabs">
    <div class="tabs__head samples__tabs-head">
      <div class="samples__title block-title block-title--line">
        Образцы
      </div>
      <div class="tabs-nav samples__tabs-nav">
        <div class="tabs-nav__list">
          <button class="btn-reset tabs-nav__btn tabs-nav__btn--active" data-target='all'>Дипломы о высшем образовании
          </button>
          <button class="btn-reset tabs-nav__btn" data-target='all'>Дипломы о среднем специальном образовании</button>
          <button class="btn-reset tabs-nav__btn" data-target='doc-2'>Помощь в оформлении виз</button>
        </div>
      </div>
    </div>

    <div class="tabs__content">
      <div class="items-list items-list--documents" id="content-documents">
        <div class="document-card" data-groups='["all","doc-1"]'>
          <div class="document-card__inner">
            <img class="document-card__img" src="img/document-photo.png" alt="">
            <div class="document-card__body">
              <div class="document-card__title">Диплом бакалавра</div>
              <div class="document-card__desc">Описание документа Описание Описа документа Описание докуОписание</div>
            </div>

            <div class="document-card__footer">
              <div class="document-card__price">
                <span class="document-card__price-val">7000</span>
                &nbsp;
                <span class="document-card__price-curr">гр</span>
              </div>
              <button
                class="btn btn-reset btn--primary document-card__btn js-open-modal"
                data-modal="feedback-modal">
                Оставить заявку
              </button>
            </div>
          </div>
        </div>
        <div class="document-card" data-groups='["all","doc-1"]'>
          <div class="document-card__inner">
            <img class="document-card__img" src="img/document-photo.png" alt="">
            <div class="document-card__body">
              <div class="document-card__title">Диплом бакалавра</div>
              <div class="document-card__desc">Описание документа Описание Описа документа Описание докуОписание</div>
            </div>
            <div class="document-card__footer">
              <div class="document-card__price">
                <span class="document-card__price-val">7000</span>
                &nbsp;
                <span class="document-card__price-curr">гр</span>
              </div>
              <button
                class="btn btn-reset btn--primary document-card__btn js-open-modal"
                data-modal="feedback-modal">
                Оставить заявку
              </button>
            </div>
          </div>
        </div>
        <div class="document-card" data-groups='["all","doc-1"]'>
          <div class="document-card__inner">
            <img class="document-card__img" src="img/document-photo.png" alt="">
            <div class="document-card__body">
              <div class="document-card__title">Диплом бакалавра</div>
              <div class="document-card__desc">Описание документа Описание Описа документа Описание докуОписание</div>
            </div>
            <div class="document-card__footer">
              <div class="document-card__price">
                <span class="document-card__price-val">7000</span>
                &nbsp;
                <span class="document-card__price-curr">гр</span>
              </div>
              <button
                class="btn btn-reset btn--primary document-card__btn js-open-modal"
                data-modal="feedback-modal">
                Оставить заявку
              </button>
            </div>
          </div>
        </div>
        <div class="document-card" data-groups='["all","doc-1"]'>
          <div class="document-card__inner">
            <img class="document-card__img" src="img/document-photo.png" alt="">
            <div class="document-card__body">
              <div class="document-card__title">Диплом бакалавра</div>
              <div class="document-card__desc">Описание документа Описание Описа документа Описание докуОписание</div>
            </div>
            <div class="document-card__footer">
              <div class="document-card__price">
                <span class="document-card__price-val">7000</span>
                &nbsp;
                <span class="document-card__price-curr">гр</span>
              </div>
              <button
                class="btn btn-reset btn--primary document-card__btn js-open-modal"
                data-modal="feedback-modal">
                Оставить заявку
              </button>
            </div>
          </div>
        </div>
        <div class="document-card" data-groups='["all","doc-1"]'>
          <div class="document-card__inner">
            <img class="document-card__img" src="img/document-photo.png" alt="">
            <div class="document-card__body">
              <div class="document-card__title">Диплом бакалавра</div>
              <div class="document-card__desc">Описание документа Описание Описа документа Описание докуОписание</div>
            </div>
            <div class="document-card__footer">
              <div class="document-card__price">
                <span class="document-card__price-val">7000</span>
                &nbsp;
                <span class="document-card__price-curr">гр</span>
              </div>
              <button
                class="btn btn-reset btn--primary document-card__btn js-open-modal"
                data-modal="feedback-modal">
                Оставить заявку
              </button>
            </div>
          </div>
        </div>
        <div class="document-card" data-groups='["all","doc-1"]'>
          <div class="document-card__inner">
            <img class="document-card__img" src="img/document-photo.png" alt="">
            <div class="document-card__body">
              <div class="document-card__title">Диплом бакалавра</div>
              <div class="document-card__desc">Описание документа Описание Описа документа Описание докуОписание</div>
            </div>
            <div class="document-card__footer">
              <div class="document-card__price">
                <span class="document-card__price-val">7000</span>
                &nbsp;
                <span class="document-card__price-curr">гр</span>
              </div>
              <button
                class="btn btn-reset btn--primary document-card__btn js-open-modal"
                data-modal="feedback-modal">
                Оставить заявку
              </button>
            </div>
          </div>
        </div>
        <div class="document-card" data-groups='["all","doc-2"]'>
          <div class="document-card__inner">
            <img class="document-card__img" src="img/document-photo.png" alt="">
            <div class="document-card__body">
              <div class="document-card__title">Диплом бакалавра</div>
              <div class="document-card__desc">Описание документа Описание Описа документа Описание докуОписание</div>
            </div>
            <div class="document-card__footer">
              <div class="document-card__price">
                <span class="document-card__price-val">7000</span>
                &nbsp;
                <span class="document-card__price-curr">гр</span>
              </div>
              <button
                class="btn btn-reset btn--primary document-card__btn js-open-modal"
                data-modal="feedback-modal">
                Оставить заявку
              </button>
            </div>
          </div>
        </div>
        <div class="document-card" data-groups='["all","doc-2"]'>
          <div class="document-card__inner">
            <img class="document-card__img" src="img/document-photo.png" alt="">
            <div class="document-card__body">
              <div class="document-card__title">Диплом бакалавра</div>
              <div class="document-card__desc">Описание документа Описание Описа документа Описание докуОписание</div>
            </div>
            <div class="document-card__footer">
              <div class="document-card__price">
                <span class="document-card__price-val">7000</span>
                &nbsp;
                <span class="document-card__price-curr">гр</span>
              </div>
              <button
                class="btn btn-reset btn--primary document-card__btn js-open-modal"
                data-modal="feedback-modal">
                Оставить заявку
              </button>
            </div>
          </div>
        </div>
        <div class="document-card" data-groups='["all","doc-3"]'>
          <div class="document-card__inner">
            <img class="document-card__img" src="img/document-photo.png" alt="">
            <div class="document-card__body">
              <div class="document-card__title">Диплом бакалавра</div>
              <div class="document-card__desc">Описание документа Описание Описа документа Описание докуОписание</div>
            </div>
            <div class="document-card__footer">
              <div class="document-card__price">
                <span class="document-card__price-val">7000</span>
                &nbsp;
                <span class="document-card__price-curr">гр</span>
              </div>
              <button
                class="btn btn-reset btn--primary document-card__btn js-open-modal"
                data-modal="feedback-modal">
                Оставить заявку
              </button>
            </div>
          </div>
        </div>
        <div class="document-card" data-groups='["all","doc-3"]'>
          <div class="document-card__inner">
            <img class="document-card__img" src="img/document-photo.png" alt="">
            <div class="document-card__body">
              <div class="document-card__title">Диплом бакалавра</div>
              <div class="document-card__desc">Описание документа Описание Описа документа Описание докуОписание</div>
            </div>
            <div class="document-card__footer">
              <div class="document-card__price">
                <span class="document-card__price-val">7000</span>
                &nbsp;
                <span class="document-card__price-curr">гр</span>
              </div>
              <button
                class="btn btn-reset btn--primary document-card__btn js-open-modal"
                data-modal="feedback-modal">
                Оставить заявку
              </button>
            </div>
          </div>
        </div>
        <div class="document-card" data-groups='["all","doc-3"]'>
          <div class="document-card__inner">
            <img class="document-card__img" src="img/document-photo.png" alt="">
            <div class="document-card__body">
              <div class="document-card__title">Диплом бакалавра</div>
              <div class="document-card__desc">Описание документа Описание Описа документа Описание докуОписание</div>
            </div>
            <div class="document-card__footer">
              <div class="document-card__price">
                <span class="document-card__price-val">7000</span>
                &nbsp;
                <span class="document-card__price-curr">гр</span>
              </div>
              <button
                class="btn btn-reset btn--primary document-card__btn js-open-modal"
                data-modal="feedback-modal">
                Оставить заявку
              </button>
            </div>
          </div>
        </div>
        <div class="document-card" data-groups='["all","doc-4"]'>
          <div class="document-card__inner">
            <img class="document-card__img" src="img/document-photo.png" alt="">
            <div class="document-card__body">
              <div class="document-card__title">Диплом бакалавра</div>
              <div class="document-card__desc">Описание документа Описание Описа документа Описание докуОписание</div>
            </div>
            <div class="document-card__footer">
              <div class="document-card__price">
                <span class="document-card__price-val">7000</span>
                &nbsp;
                <span class="document-card__price-curr">гр</span>
              </div>
              <button
                class="btn btn-reset btn--primary document-card__btn js-open-modal"
                data-modal="feedback-modal">
                Оставить заявку
              </button>
            </div>
          </div>
        </div>
        <div class="document-card" data-groups='["all","doc-4"]'>
          <div class="document-card__inner">
            <img class="document-card__img" src="img/document-photo.png" alt="">
            <div class="document-card__body">
              <div class="document-card__title">Диплом бакалавра</div>
              <div class="document-card__desc">Описание документа Описание Описа документа Описание докуОписание</div>
            </div>
            <div class="document-card__footer">
              <div class="document-card__price">
                <span class="document-card__price-val">7000</span>
                &nbsp;
                <span class="document-card__price-curr">гр</span>
              </div>
              <button
                class="btn btn-reset btn--primary document-card__btn js-open-modal"
                data-modal="feedback-modal">
                Оставить заявку
              </button>
            </div>
          </div>
        </div>
        <div class="document-card" data-groups='["all","doc-4"]'>
          <div class="document-card__inner">
            <img class="document-card__img" src="img/document-photo.png" alt="">
            <div class="document-card__body">
              <div class="document-card__title">Диплом бакалавра</div>
              <div class="document-card__desc">Описание документа Описание Описа документа Описание докуОписание</div>
            </div>
            <div class="document-card__footer">
              <div class="document-card__price">
                <span class="document-card__price-val">7000</span>
                &nbsp;
                <span class="document-card__price-curr">гр</span>
              </div>
              <button
                class="btn btn-reset btn--primary document-card__btn js-open-modal"
                data-modal="feedback-modal">
                Оставить заявку
              </button>
            </div>
          </div>
        </div>
        <div class="document-card" data-groups='["all","doc-2"]'>
          <div class="document-card__inner">
            <img class="document-card__img" src="img/document-photo.png" alt="">
            <div class="document-card__body">
              <div class="document-card__title">Диплом бакалавра</div>
              <div class="document-card__desc">Описание документа Описание Описа документа Описание докуОписание</div>
            </div>
            <div class="document-card__footer">
              <div class="document-card__price">
                <span class="document-card__price-val">7000</span>
                &nbsp;
                <span class="document-card__price-curr">гр</span>
              </div>
              <button
                class="btn btn-reset btn--primary document-card__btn js-open-modal"
                data-modal="feedback-modal">
                Оставить заявку
              </button>
            </div>
          </div>
        </div>
        <div class="document-card" data-groups='["all","doc-3"]'>
          <div class="document-card__inner">
            <img class="document-card__img" src="img/document-photo.png" alt="">
            <div class="document-card__body">
              <div class="document-card__title">Диплом бакалавра</div>
              <div class="document-card__desc">Описание документа Описание Описа документа Описание докуОписание</div>
            </div>
            <div class="document-card__footer">
              <div class="document-card__price">
                <span class="document-card__price-val">7000</span>
                &nbsp;
                <span class="document-card__price-curr">гр</span>
              </div>
              <button
                class="btn btn-reset btn--primary document-card__btn js-open-modal"
                data-modal="feedback-modal">
                Оставить заявку
              </button>
            </div>
          </div>
        </div>
        <div class="document-card" data-groups='["all","doc-3"]'>
          <div class="document-card__inner">
            <img class="document-card__img" src="img/document-photo.png" alt="">
            <div class="document-card__body">
              <div class="document-card__title">Диплом бакалавра</div>
              <div class="document-card__desc">Описание документа Описание Описа документа Описание докуОписание</div>
            </div>
            <div class="document-card__footer">
              <div class="document-card__price">
                <span class="document-card__price-val">7000</span>
                &nbsp;
                <span class="document-card__price-curr">гр</span>
              </div>
              <button
                class="btn btn-reset btn--primary document-card__btn js-open-modal"
                data-modal="feedback-modal">
                Оставить заявку
              </button>
            </div>
          </div>
        </div>
        <div class="document-card" data-groups='["all","doc-2"]'>
          <div class="document-card__inner">
            <img class="document-card__img" src="img/document-photo.png" alt="">
            <div class="document-card__body">
              <div class="document-card__title">Диплом бакалавра</div>
              <div class="document-card__desc">Описание документа Описание Описа документа Описание докуОписание</div>
            </div>
            <div class="document-card__footer">
              <div class="document-card__price">
                <span class="document-card__price-val">7000</span>
                &nbsp;
                <span class="document-card__price-curr">гр</span>
              </div>
              <button
                class="btn btn-reset btn--primary document-card__btn js-open-modal"
                data-modal="feedback-modal">
                Оставить заявку
              </button>
            </div>
          </div>
        </div>
        <div class="document-card" data-groups='["all","doc-2"]'>
          <div class="document-card__inner">
            <img class="document-card__img" src="img/document-photo.png" alt="">
            <div class="document-card__body">
              <div class="document-card__title">Диплом бакалавра</div>
              <div class="document-card__desc">Описание документа Описание Описа документа Описание докуОписание</div>
            </div>
            <div class="document-card__footer">
              <div class="document-card__price">
                <span class="document-card__price-val">7000</span>
                &nbsp;
                <span class="document-card__price-curr">гр</span>
              </div>
              <button
                class="btn btn-reset btn--primary document-card__btn js-open-modal"
                data-modal="feedback-modal">
                Оставить заявку
              </button>
            </div>
          </div>
        </div>
        <div class="document-card" data-groups='["all","doc-3"]'>
          <div class="document-card__inner">
            <img class="document-card__img" src="img/document-photo.png" alt="">
            <div class="document-card__body">
              <div class="document-card__title">Диплом бакалавра</div>
              <div class="document-card__desc">Описание документа Описание Описа документа Описание докуОписание</div>
            </div>
            <div class="document-card__footer">
              <div class="document-card__price">
                <span class="document-card__price-val">7000</span>
                &nbsp;
                <span class="document-card__price-curr">гр</span>
              </div>
              <button
                class="btn btn-reset btn--primary document-card__btn js-open-modal"
                data-modal="feedback-modal">
                Оставить заявку
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="tabs__content-action">
        <button class="btn btn-reset btn--dark tabs__content-action-btn">Показать все образцы</button>
      </div>

    </div>
  </div>

  <div class="decor samples__decor1"></div>

</section>
