<section class="services">
  <div class="container">
    <div class="services__title block-title block-title--line">
      Дополнительные услуги
    </div>
    <div class="services__list items-list items-list--services">
      <div class="service-card">
        <div class="service-card__inner">
          <img class="service-card__img" src="img/service-card1.png" alt="">
          <div class="service-card__body">
            <div class="service-card__title">Помощь в оформлении виз</div>
            <div class="service-card__desc">
              Описание услуги Описание услуги Описание услуги Описание услуги Описание
              услуги Описание услуги Описание услуги Описание услуги Описание услуги Описание услуги Описание услуги
              Описание услуги Описание услуги Описание услуги
            </div>
          </div>
          <button class="btn btn-reset btn--primary service-card__btn">Оставить заявку</button>
        </div>
      </div>
      <div class="service-card">
        <div class="service-card__inner">
          <img class="service-card__img" src="img/service-card2.png" alt="">
          <div class="service-card__body">
            <div class="service-card__title">Легализация в европе</div>
            <div class="service-card__desc">
              Описание услуги Описание услуги Описание услуги Описание услуги Описание
              услуги Описание услуги Описание услуги Описание услуги Описание услуги Описание услуги Описание услуги
              Описание услуги Описание услуги Описание услуги
            </div>
          </div>
          <button class="btn btn-reset btn--primary service-card__btn">Оставить заявку</button>
        </div>
      </div>
      <div class="service-card">
        <div class="service-card__inner">
          <img class="service-card__img" src="img/service-card1.png" alt="">
          <div class="service-card__body">
            <div class="service-card__title">Помощь в оформлении виз</div>
            <div class="service-card__desc">
              Описание услуги Описание услуги Описание услуги Описание услуги Описание
              услуги Описание услуги Описание услуги Описание услуги Описание услуги Описание услуги Описание услуги
              Описание услуги Описание услуги Описание услуги
            </div>
          </div>
          <button class="btn btn-reset btn--primary service-card__btn">Оставить заявку</button>
        </div>
      </div>
      <div class="service-card">
        <div class="service-card__inner">
          <img class="service-card__img" src="img/service-card2.png" alt="">
          <div class="service-card__body">
            <div class="service-card__title">Легализация в европе</div>
            <div class="service-card__desc">
              Описание услуги Описание услуги Описание услуги Описание услуги Описание
              услуги Описание услуги Описание услуги Описание услуги Описание услуги Описание услуги Описание услуги
              Описание услуги Описание услуги Описание услуги
            </div>
          </div>
          <button class="btn btn-reset btn--primary service-card__btn">Оставить заявку</button>
        </div>
      </div>
    </div>
  </div>
</section>
