// colors
$color-black: #000;
$color-white: #fff;
$color-primary: #2649D1;
$color-secondary: #141229;

// fonts
$font-family-gotham: "Gotham Pro", sans-serif;
$font-family-stark: "Stark", sans-serif;
