@media (max-width: 1550px) {
  .hero__bg-text {
    font: 700 180px/120% "Gotham Pro", sans-serif;
    left: -20px;
  }
  .hero__right-img {
    margin-left: 80px;
    width: 90%;
  }
  span.hero__bg-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .language__box {
    left: initial;
    right: 0px;
  }
}

@media (max-width: 1440px) {
  .note__decor2 {
    right: 0;
    bottom: -259px;
  }

  .note__title-decor {
    right: -74px;
    bottom: -5px;
  }

  .note__title.block-title {
    display: inline;
  }

  .note__right {
    width: 80%;
    padding-left: 42px;
    margin: 0 auto;
  }

  .note__left {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  .note__title {
    font-size: 55px;
    line-height: 93.7%;
    position: relative;
    margin-bottom: 15px;
  }
  .note__subtitle {
    font: 400 20px/120% "Stark", sans-serif;
    margin-top: 20px;
  }
}

@media (max-width: 1280px) {
  .hero__left {
    max-width: 560px;
    padding-left: 20px;
  }
  .hero__right-img {
    margin-left: -60px;
    width: 90%;
  }
  .hero-board {
    bottom: -156px;
    height: 156px;
  }
  .hero__bg-text {
    font: 700 140px/120% "Gotham Pro", sans-serif;
  }

  .hero-board__socials{
    display: none;
  }

  .subsections__item {
    height: 124px;
  }

}


@media (max-width: 1152px) {
  .note__decor2 {
    right: 0;
    bottom: -279px;
    max-width: 100px;
  }

  *,
  *:before,
  *:after {
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
  }
}


@media (min-width: 991px) {
  .slider__inner {
    display: none;
  }

  .review-slider--bottom__inner {
    display: none;
  }

  .burger__menu {
    display: none;
  }
}


@media (max-width: 991px) {

  .language.header__language.is-open {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }


  .language__box {
    left: 15px;
    top: -20px;
  }


  .language__item {
    padding-bottom: 10px;
  }
  .language__item:first-child {
    padding-top: 33px;
  }

  *,
  *:after,
  *:before {
    -webkit-tap-highlight-color: transparent;
  }

  .mobile-menu__overlay {
    z-index: 1;
  }

  .review-slider--bottom__text {
    font-family: Gotham Pro;
    font-weight: normal;
    font-size: 16px;
    line-height: 114.2%;
    color: #000000;
    text-align: center;
  }

  .review-card__inner-slider {
    padding: 32px 22px 36px;
    background: #fff;
    border-radius: 14px;
    width: 416px;
  }

  .slider__inner {
    margin-top: 44px;
  }

  .note__inner {
    display: block;
  }
  .header__nav,
  .header__btn-feedback, {
    display: none;
  }
  .header__left {
    justify-content: flex-start;
  }

  .socials {
    align-items: center;
    justify-content: center;
  }

  .footer__inner {
    display: block;
    text-align: center;
  }

  .block-title {
    font: 400 45px/120% "Stark", sans-serif;
  }

  .reviews__list.items-list.items-list--reviews {
    display: none;
  }

  span.reviews__bg-text {
    display: none;
  }
  .services__list.items-list.items-list--services {
    display: block;
  }
  .service-card__img {
    display: block;
    width: 339px;
    height: 230px;
  }
  .service-card {
    width: 337px;
    margin: 0 auto;
  }
  .service-card {
    padding-bottom: 21px;
  }

  .note__left-img {
    margin-top: 0;
    display: block;
    height: 100%;
  }
  .note__left {
    width: 100%;
    margin: 0 auto;
    height: 560px;
    margin-bottom: 30px;
  }
  .note-board {
    position: absolute;
    width: 80%;
    height: 80px;
    top: 578px;
  }

  .review-slider--bottom__inner svg {
    margin-top: 20px;
    margin-left: 10px;
  }
  .hero__inner {
    display: block;
  }

  .hero__subtitle {
    font: 400 14px/120% "Stark", sans-serif;
  }

  .hero__title {
    font: 400 45px/120% "Stark", sans-serif;
  }

  .hero__right-img {
    margin: 0 auto;
    width: 60%;
    margin-top: 80px;
  }

  .hero__bg-text {
    font: 700 64px/120% "Gotham Pro", sans-serif;
  }

  .hero__title {
    margin: 12px 0 20px;
  }

  .hero__bg-text {
    left: 290px;
    top: 160px;
  }

  .text-decor {
    width: 35px;
    height: 38px;
    background: #2649D1;
    left: 390px;
    top: -10px;
  }
  .text-decor svg {
    width: 5px;
    height: 13px;
  }
  .hero-board {
    bottom: -116px;
    height: 124px;
  }
  .subsections__item-link {
    display: none;
  }
  .subsections__item-title {
    font: 400 14px/120% "Stark", sans-serif;
  }
  .subsections__item {
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    text-align: center;
  }
  img.subsections__item-img {
    width: 44px;
    height: 44px;
  }
  .hero-board:before {
    bottom: -16px;
    width: 103.5%;
    height: 104%;
  }

  .header {
    padding-top: 20px;
  }

  .menu-burger {
    display: block;
    margin-right: 42px;
    margin-left: 0;
  }

  .header__logo {
    z-index: 101;
  }

  a.nav__link {
    color: #fff;
    font-size: 18px;
  }

  ul.nav__list.list-reset {
    display: block;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 110px;
  }

  li.nav__item {
    border-bottom: 1px solid #1C1A39;
    margin-right: 0;
    margin-bottom: 15px;
    padding-bottom: 13px;
  }

  .header__btn-feedback{
    z-index: 101;
  }
  .mobile-menu button {
    text-align: center;
    border-radius: 10px;
    width: 100%;
  }

  .text-decor.note__title-decor {
   left: 520px;
    top: 12px;
  }

  .samples__tabs-nav {
    margin-left: 0;
    margin-top: 40px;
  }
  .samples__tabs-head {
    flex-direction: column;
  }
  .tabs-nav__btn:not(:last-child) {
    margin-right: 15px;
    font-size: 14px;
    padding-bottom: 10px;
  }
  .document-card {
    width: 50%;
  }

  img.document-card__img {
    width: 100%;
  }
  .document-card__body {
    text-align: center;
  }

  .document-card {
    padding-bottom: 15px;
  }

  .hero {
    margin-top: 50px;
    margin-bottom: 100px;
  }

}

@media (max-width: 768px) {

  .samples__tabs-head {
    margin-bottom: 30px;
  }

  .tabs-category__list {
    padding-top: 145px;
  }

  .tabs-nav__btn {
    margin-right: 0 !important;
  }

  .reviews {
    padding: 30px 0 40px 0;
  }

  .note__decor2 {
    bottom: -119px;
    max-width: 50px;
  }

  .review-card {
    padding: 0;
    width: 416px;
  }
  .footer__privacy {
    font-size: 14px;
  }
  .review-card__body {
    padding-top: 15px;
    font-size: 14px;
  }

  .review-card__head {
    padding-bottom: 30px;
  }

  .block-title {
    font: 400 30px/120% "Stark", sans-serif;
  }

  .reviews__subtitle {
    font: 500 16px/120% "Stark", sans-serif;
  }

  .reviews__decor1 {
    left: -160px;
    top: -260px;
    width: 40%;
  }

  .advantages__inner {
    display: block;
  }

  .advantage-item {
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .text-decor {
    width: 40px;
    height: 38px;
  }

  .text-decor svg {
    width: 5px;
    height: 13px;
  }

  .note-board {
    position: absolute;
    width: 90%;
    height: 80px;
    top: 578px;
  }

  .note__right {
    width: 100%;
  }

  .hero__bg-text {
    left: 170px;
    top: 160px;
  }

  .hero__subtitle {
    font: 400 14px/120% "Stark", sans-serif;
    width: 207px;
  }

  .text-decor {
    left: 200px;
    top: -3px;
  }
  .subsections__item-img {
    margin-right: 0;
  }
  .text-decor.note__title-decor {
    left: 360px;
    top: 0;
  }

  .reviews {
    padding: 64px 0 80px 0;
  }

  .header__logo svg {
    width: 118px;
    height: 30px;
  }
  .hero-board {
    width: 92%;
  }

  .tabs-nav__list {
    flex-direction: column;
  }

  .tabs-nav__btn:not(:last-child) {
    font-size: 16px;
  }

  .tabs-nav__btn:not(:last-child) {
    padding-bottom: 18px;
    margin-bottom: 20px;
  }
  button.btn-reset.tabs-nav__btn.tabs-nav__btn--active {
    border-bottom: 4px solid #2649D1;
  }
  button.btn-reset.tabs-nav__btn {
    border-bottom: 4px solid #EDEDED;
  }
  .page {
    overflow-x: hidden;
  }
  .samples__tabs-nav {
    width: 100%;
  }
  .tabs-category {
    width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
  }
  .tabs-category__list {
    min-width: 1010px;
  }

  .modal__container {
    background: #FFFFFF;
    border-radius: 15px;
    padding: 15px 15px 40px;
    width: 530px;
    max-height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;
  }

  .advantage-item {
    width: 70%;
  }

  .modal__subtitle {
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    padding-bottom: 10px;
  }

  .feedback-form__input {
    padding: 20px 18px;
  }

  .feedback-form__btn {
    display: block;
    margin: 15px auto 30px;
  }

}

@media (max-width: 680px) {
  .hero__right {
    padding-left: 0;
  }

  .hero__right-img {
    margin: 0 auto;
    width: 100%;
    margin-top: 80px;
  }

}



@media (max-width: 640px) {

  .services {
    padding: 58px 0 0 0;
  }

  .advantages {
    padding: 15px 0;
  }

  .samples {
    padding-bottom: 30px;
  }

  .service-card__body {
    min-height: 170px;
    padding: 11px 13px 15px 15px;
  }

  .mobile-menu__overlay{
    padding: 0 10px;
  }


  .reviews__decor1 {
    left: -180px;
    top: -260px;
    width: 35%;
  }

  .note__left {
    height: 365px;
  }

  .note-board {
    position: absolute;
    width: 90%;
    height: 64px;
    top: 415px;
  }

  .hero__bg-text {
    left: 70px;
    top: 170px;
  }
  .hero__decor1 {
    right: 30px;
    top: 100px;
  }

}

@media (max-width: 600px) {
  .document-card {
    width: 100%;
  }

  .document-card {
    padding-bottom: 9px;
  }

  .service-card {
    width: 100%;
    margin: 0 auto 30px;
    padding: 0;
  }

  .service-card__img {
    width: 100%;
    object-fit: contain;
  }

  .service-card__price {
    width: 44%;
    margin-right: -30px;
  }

  .service-card__btn {
    width: 62%;
    padding: 19px 30px;
  }

  .modal__title {
    font-size: 24px;
    font-weight: 500;
    color: #000;
    padding-bottom: 5px;
  }

  .modal-contacts__item--tel {
    font-size: 22px;
  }

  .modal-contacts__item {
    font-size: 18px;
  }
}

@media (max-width: 500px)  {

  .hero-board {
    bottom: -123px;
    height: 124px;
    width: 102%;
    justify-content: center;
    padding: 0 0 0 15px;
  }

  .subsections__item {
    padding-left: 30px;
    padding-right: 30px;
  }

  .modal[aria-hidden="true"] .modal__overlay {
    padding: 0 10px;
  }

  .modal[aria-hidden="false"] .modal__container {
    margin: 0 10px;
  }

  .feedback-form__input {
    padding: 12px 18px;
  }
}


@media (max-width: 490px){

  .note__left {
    height: 300px;
  }

  .note-board {
    top: 360px;
  }
  .note__left {
    margin-bottom: 60px;
  }

}



@media (max-width: 480px) {


  .text-decor.note__title-decor {
    left: 230px;
    top: 20px;
  }

  .note__title.block-title {
    display: inline-block;
    max-width: 300px;
  }

  .note__right {
    padding-left: 27px;
  }


  .review-card {
    width: 100%;
  }

  .review-card__inner-slider {
    width: 100%;
    margin: 0 auto;
  }

  .hero__bg-text {
    left: 0px;
    top: 170px;
  }

  .hero__decor1 {
    width: 20%;
  }

  .text-decor.note__title-decor {
    left: 230px;
    top: 20px;
  }

  .slider__inner {
    margin-top: 30px;
  }

  .reviews {
    padding: 15px 0 15px 0;
  }
}




@media (max-width: 411px) {

  .text-decor.note__title-decor {
    left: 220px;
    top: 20px;
  }

  .review-card__inner-slider {
    padding: 15px 15px 20px;
  }

  .review-card__head {
    padding-bottom: 10px;
  }
}

@media (max-width: 380px) {
  .hero__bg-text {
    font: 700 32px/120% "Gotham Pro", sans-serif;
    left: 90px;
    top: 240px;
  }

  .subsections__item {
    padding-right: 15px;
    padding-top: 15px;
  }
}

@media (max-width: 360px) {
  .note__left-img {
    height: 100%;
    width: 259px;
  }
  .note__left {
    height: 259px;
    margin-bottom: 40px;
  }
  .note-board {
    top: 325px;
  }
  .note__title-decor {
    right: -124px;
    bottom: 10px;
  }

  .btn {
    padding: 10px 70px;
  }
}
